pipeline/earthquake_pipeline.json
{
	"name": "earthquake_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Bronze Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/azure_project/bronze_notebook",
					"baseParameters": {
						"start_date": {
							"value": "@formatDateTime(addDays(utcNow(),-1),'yyyy-MM-dd')",
							"type": "Expression"
						},
						"end_date": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Silver Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Bronze Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/azure_project/silver_notebook",
					"baseParameters": {
						"bronze_params": {
							"value": "@string(activity('Bronze Notebook').output.runOutput)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Gold Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Silver Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/azure_project/gold_notebook",
					"baseParameters": {
						"bronze_params": {
							"value": "@string(activity('Bronze Notebook').output.runOutput)",
							"type": "Expression"
						},
						"silver_params": {
							"value": "@string(activity('Silver Notebook').output.runOutput)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-07-20T20:38:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}